body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,9,121,1) 35%, rgba(59,0,255,1) 100%);
color: white;
margin: 0;
font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title{
position: absolute;
top: 50%;
left: 23%;
transform: translate(-50%, -50%);
font-size: 50px;
color:#fff;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 2px;
}

.busque{
display:flex;
align-items:center;
justify-content:center;
margin:2rem;
flex-direction:column;
}
  
.btn-search {
position: absolute;
top: 60%;
left: 23%;
text-align: center;
padding: 17px 40px;
border-radius: 50px;
border: 0;
background-color: white;
box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
letter-spacing: 1.5px;
text-transform: uppercase;
font-size: 15px;
transition: all .5s ease;
cursor: pointer;
}
   
.btn-search:hover {
letter-spacing: 3px;
background-color: hsl(261deg 80% 48%);
color: hsl(0, 0%, 100%);
box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
   
.btn-search:active {
letter-spacing: 1,5px;
background-color: hsl(261deg 80% 48%);
color: hsl(0, 0%, 100%);
box-shadow: rgb(93 24 220) px px 0px 0px;
transform: translateY(5px);
transition: 70ms;
}

nav{
display: flex-end;
padding-right: 20px;
}

header ul {
display: flex;
justify-content: flex-end;
list-style: none;
}

header li {
font-size: 20px;
list-style-type: none;
cursor: pointer;
padding: 0px 20px;
list-style: none;
text-align: -webkit-match-parent;
}

ul{
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

p {
cursor: pointer;
}

button{
background:0;
transition: all 0.3s ease 0s;
}

a{
width: 180px
}

.logo img {
width: 50%;
height: 50%;
cursor:pointer; 
margin-left: 5em;
margin-top: 1em;
}

header {
display: flex;
align-items: center;
background: rgba(0, 0, 0, 0.4);
width: 100%;
position: fixed;
z-index: 3;
}

ul{
list-style: none;
}

.banner_wrapper{
margin-top: 7em;
width: 90vh;
height: 85vh;
object-fit: cover;
object-position: right;
padding-left: 900px;

z-index: 1;
}

.load-more{
outline:none;
padding:1rem;
border:none;
background-color:peru
}

.input-field{
    position: absolute;
    top: 60%;
    left: 5%;
    text-align: left;
    padding: 17px 40px;
    border-radius: 50px;
    outline: none;
    font-size: 0.9rem;
    width: 15rem;
    font-weight: 600;
}
